<div class="colors-header">
    <div class="colors-header__wrapper">
        <div *ngIf="showBack" class="colors-header__showback" (click)="goBack()">
            <fa-icon [icon]="faArrowAltCircleLeft" size="lg"></fa-icon>
        </div>
        <a routerLink="/" class="colors-header__link">
            <div class="colors-header__title">Colors</div>
        </a>
        <div class="colors-header__extra">
            <ng-content></ng-content>
        </div>
        <app-theme-chooser class="colors-header__themechooser"></app-theme-chooser>
    </div>
</div>