<app-view [show_back]="true">
    <div *ngIf="showAlert" class="error-msg">The color {{color}} is not a real color</div>
    <h3>Analogous Colors</h3>
    <app-color-panel [color]="use_color" [func]="analogous"></app-color-panel>
    <h3>Triadic Colors</h3>
    <app-color-panel [color]="use_color" [func]="triadic"></app-color-panel>
    <h3>Complementary Color</h3>
    <app-color-panel [color]="use_color" [func]="complementary"></app-color-panel>
    <h3>Shades of {{use_color}}</h3>
    <app-color-panel [color]="use_color" [func]="shade"></app-color-panel>
    <h3>Tints of {{use_color}}</h3>
    <app-color-panel [color]="use_color" [func]="tint"></app-color-panel>
</app-view>